.sig-name {
    color:  rgb(191, 191, 191) !important;
    padding-right: 5px;
}

dt {
    padding-left:5px
}

span.ow {
    color:  #c988f1;
}

.highlight .nv {
    color:  #7ca3ff;
}

li p em {
    color: rgb(156, 156, 156) !important;  /* replace with your desired color */
}

/* Increase margin above and below all list items */
li {
    margin-top: 10px !important;    /* Adjust the value as needed */
    margin-bottom: 10px !important; /* Adjust the value as needed */
}

li p strong, li p b {
    color: rgb(230, 230, 230) !important;  /* replace with your desired color */
}

.rst-content .toctree-wrapper>p.caption, .rst-content h1, .rst-content h2, .rst-content h3, .rst-content h4, .rst-content h5, .rst-content h6 {
    margin-bottom:15px;
}

p {
    margin: 0 0 14px;
}


html[data-theme='light'] .sig-name, html .sig-name {
    color:  rgb(50, 50, 50) !important;
    padding-right: 5px;
}

html[data-theme='dark'] .sig-name {
    color:  rgb(200, 200, 200) !important;
    padding-right: 5px;
}

dt {
    padding-left:5px
}

span.ow, .highlight .ow {
    color:  #c988f1;
}

span.nv, .highlight .nv {
    color:  #7ca3ff;
}

.highlight .nf {
    color:  #6a86df;
}

.green-text {
    color: rgba(88, 212, 88, 0.81) !important;
    font-weight: bold;
    font-family:monospace;
    font-size: 14px;
}

p:has(.green-text) {
    margin-bottom: 1px;
    margin-left: 1px;
}

figcaption p .caption-number {
    font-weight: bold;
}


    /* insert a `:` after the number */
figcaption p .caption-number::after {
    content: ":";
    margin-right: 0.5em;
    margin-left: -0.18em;
}

figcaption, figcaption p .caption-text, figcaption p .caption-number {
    font-size: 0.9em;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #666;
}